$light-color: #FFF;
$dark-color:#1A1B1F;
$gray-color:#30353B;
$orange-color:#faaa41;
$gold-color: #F6CD8F;

$fz-title: 45px;
$fz-subtitle:30px;
$paragraph:20px;
$f-negrita: bold;
$title-responsive: 20px;
$subtitle-responsive: 18px;
$paragraph-responsive: 16px;
